{% extends 'display/base.html' %} 
{% load static%} 
{% load bootstrap3 %} 
{% block content %} 
{{block.super}}

{% if request.user.is_authenticated %}

{% else %}
<p>You must be authenticated</p>
{% endif %}
<div class="bodyall">
    <div class="container">




        <!-- SECTION 1 -->

        <!-- USED TO STYLE PICTURE-BODYSIZE    -->
        <div class="w3-card-6" style="width:56%">

            <div class="container">
                {% if all_images %}
                 {% for image  in all_images %}

                <div class="padima">

                    
                    <div class="panel panel-primary">

                        <!--   PROFILE & user name -->

                        <!-- Profile Picture and User name   -->
                        
                        <p class="userdp">
                            <img src="{% static ' ' %}" class="circdp" alt="  ">
                         {% if all_users %} {% for user in all_users %}
                            <strong> "{{user.user}}" </strong>
                        {% endfor %}{% else %}
                        <strong>grammer</strong>

                        {% endif %}
                        </p>
                       
                        <!-- SECTION 2   -->
                        
                        <a href="{{ .image }}" data-lightbox="gallery">
                            <img src="{{ .image.url }}" class="img-responsive" style="width:100%;margin-top:12px; ">
                        </a> 
                        <div class="container">
                            <div class='likesection'>

                                <span class="like-row">
                                    {% if liked %}
                                    <img class="likedicon" src="{% static ' ' %}" alt="liked picture"class="img-responsive"> {% else %}
                                    <img class="likeicon" src="{% static ' ' %}" alt="un liked pic" class="img-responsive"> {% endif %}
                                    <img class="commenticon" id='comment-icon' src=""class="img-responsive" alt=" commentImage">
                                    <img class="saveicon" src="{% static ' ' %}" alt="save picture">
                                        
                                    </p>
                                </span>
                                <p><strong>3 likes</strong> </p>
                        <!-- Caption Section -->
                        {% if all_users %} {% for user in all_users %}
                        <strong> "{{user.user}}" </strong>
                        {% endfor %}{% else %}
                        <p><strong>grammer</strong> {{ .image_caption}}</p>
                        
                        {% endif %} 

                        <div class='comsection'>
                            <input type='text' id='cmnt' placeholder='Add a comment...'>
                            <span class='dot02'></span>
                        </div>
                            </div>
                        </div>

                    </div>


                </div>
                {% endfor %} {% else%}
                <h3>You have no images</h3>

                {% endif %}

            </div>


        </div>
    </div>
</div>
{% endblock %}