{% extends 'display/base.html' %} 
{% load static%} 
{% load bootstrap3 %} 
{% block content %} 
{{block.super}}

{% if request.user.is_authenticated %}

{% else %}
<p>You must be authenticated</p>
{% endif %}

<div class="col-md-5" style="margin-left: 500px;">
    
</div>
<br>
<br>
<br>
<div class="container">
        
        {% if all_images%}
            {% for image in all_images %}
                <div class="panel" style="margin-left: 400px;">
                    <div class="panel-header">
                        <img src="{{image.profile.profile_pic.url}}" alt="" style="border-radius: 50%; height: 50px; width: 50px;">                        
                        <strong>{{image.user}}</strong>
                    </div>
                    <div class="panel-body">
                        <img src="{{image.image.url}}"  class="img-responsive"style="width:70%; height:25%; " alt="">
                    </div>
                    <div class="likesection">
                        <span class="likerow">
                             {% if liked %}
                             <img class="likedicon" src="{% static 'images/liked.png' %}" alt="liked" class="img-fluid">
                             {% else %}
                             <img class="likeicon" src="{% static 'static/images/liked2.png' %}"  alt="like" class="img-fluid">
                             {% endif %}
                             <img src="{% static 'images/comment.png'%}" class="img-fluid commenticon" alt="comment" style="margin-left: 50px;    height: 28px;
                             width: 30px;">
                             <img class="img-fluid  saveicon" src="{% static 'images/saved.png' %}"  alt="savedpic"  style="margin-left:350px;    height: 28px;
                             width: 30px;">
                        </span>
                        <p>3likes</p>
                        <div class='comsection'>
                                <input type='text' id='cmnt' placeholder='Add a comment...'>
                                <span ></span>
                                </div>
                                </div>
                                </div>
                    </div>
                    


                
            {% endfor %}
        {% endif %}

{% endblock %} 